.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.matrix {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.cell {
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: 1px solid gray;
}

.cell:disabled {
  background-color: lightgray;
  border: 1px solid gray;
}

.cell._active {
  background-color: blueviolet;
  color: #fff;
  border: none;
}

.toolbar {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  gap: 1rem;
  width: 400px;
}

.button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.title {
  margin-top: 0;
}
