.app {
  background-image: radial-gradient(circle at bottom, transparent 65%, #200466),
    linear-gradient(to bottom, #0000, #63252c1a), linear-gradient(to bottom, #500e87, #390338);
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
}
