.app {
  background-color: #282c34;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display: flex;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.body {
  padding: 0 1rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: min(500px, 100%);
}

.matrix {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1px;
}

.cell {
  aspect-ratio: 1;
  font-size: 20px;
  border: 0;
  background: floralwhite;
  color: #121212;
  text-align: center;
  padding: 0;
}

.cell:disabled {
  background-color: lightgray;
  /* border: 0; */
}

.cell._hint {
  background-color: aquamarine;
  border: none;
}

.cell._active {
  background-color: deepskyblue;
  color: #fff;
  border: none;
}

.toolbar {
  display: flex;
  margin-top: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
  gap: 1rem;
}

.button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.title {
  margin-top: 0;
}

.score-increment {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 12px;
  color: aquamarine;
  opacity: 0;
}

.score-increment._visible {
  animation: appear 500ms;
  animation-timing-function: ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-17px);
  }
  to {
    opacity: 1;
    transform: translateY(-10px);
  }
}
