body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

:root {
  --color-primary: #ef6eae;
  /* --color-primary: #0ce308; */
  /* --color-success: #7effd4; */
  --color-success: #24d9f4;
  --color-error: #ff1493;
  --color-info: #f8f8f8;
  --matrix-cols: 8;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.body {
  padding: 0 1rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  width: min(500px, 100%);
}

.matrix {
  display: grid;
  grid-template-columns: repeat(var(--matrix-cols), 1fr);
  gap: 1px;
  border: 3px solid var(--color-primary);
}

.cell {
  aspect-ratio: 1;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.cell {
  color: var(--color-primary);
  /* transition: 0.3s ease-out; */
  background: none;
  /* border: 1px solid var(--color-primary); */
  border: 0;
  box-shadow: 0 0 0 1px var(--color-primary);
  line-height: 1;
  opacity: 0;
}

.cell:disabled {
  /* background-color: lightgray; */
  background: transparent;
  border-color: transparent;
  /* visibility: hidden; */
  box-shadow: none;
}

.cell._hint {
  color: var(--color-success);
}

.cell._active {
  /* border-color: var(--color-info); */
  color: var(--color-info);
  background-color: var(--color-primary);
}

.cell._success,
.cell:disabled._success {
  /* animation: pulse 500ms; */
  /* box-shadow: 0 0 0 8px transparent; */
  /* transform: scale(0); */
}

.cell._path,
.cell:disabled._path {
  animation: pulse 800ms;
  /* box-shadow: 0 0 0 8px transparent; */
  box-shadow: inset 0 0 0 0 var(--color-success);
  background-color: transparent;
  /* background: rgba(255, 255, 255, 0.2); */
}

@keyframes pulse {
  0% {
    box-shadow: inset 0 0 12px 2px var(--color-success);
    /* background-color: var(--color-success); */
  }
}

.toolbar {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
}

.button {
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

.title {
  margin-top: 0;
}

.score-count {
  position: absolute;
  right: 0;
  top: 0;
  font-size: 14px;
  opacity: 0;
}

.score-count._plus {
  color: var(--color-success);
}
.score-count._minus {
  color: var(--color-error);
}

.score-count._visible {
  animation: appear 500ms;
  animation-timing-function: ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(-13px);
  }
}

.progress {
  width: 100%;
  margin-bottom: 1rem;
}

.progress .MuiLinearProgress-root {
  background-color: var(--color-info);
  height: 8px;
}
.progress .MuiLinearProgress-barColorPrimary {
  background-color: var(--color-primary);
}

.actions {
  display: grid;
  width: 100%;
  margin-top: 2rem;
  margin-bottom: 1rem;
}
